.info_section {
    padding: 3rem 0;
}

.info_content {
    display: flex;
    gap: 2rem;
    position: relative;
    margin-bottom: 3rem;
}

.info_content_box_img, .info_content_box_text {
    width: 50%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.info_content_box_text {
    width: 50%;
    height: fit-content;
    border: 1px solid rgba(184, 184, 184, 0.473);
    margin: 3rem 0 0 2rem;
    padding: 0;
}

.info_content_box_img {
    position: absolute;
    right: 2rem;
    top: 0rem;
}

.info_img {
    width: 100%;
    box-shadow: 3px 3px 5px rgba(70, 70, 70, 0.973);
    margin: 0;
}

.info_content_box_text {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(70, 70, 70, 0.973);
    padding: 3rem 2rem;
}

.info_content_box_text_title{
    font-size: 6vh;
    margin-bottom: 2rem;
}

.info_content_box_text_paragraph {
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

